@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

iframe {
  display: block;
  margin: 1em auto;
  width: 100%;
  aspect-ratio: 16/9;
}

.featurette-divider {
  margin: 20px;
  color: #EEEEEE;
}

/**Header**/
.navbar-collapse {
  display: flex;
  justify-content: end;
}

.image-container {
  display: inline-block;
}

.rotating-image {
  transition: transform 0.3s;
}

.image-container:hover .rotating-image {
  transform: rotate(360deg);
}

.nav-item a {
  color: #ffffff;
  transition: color 0.3s, transform 0.2s;
}
.nav-item a:hover {
  color: #000000;
  transform: scale(1.1);
}

.carousel-1 {
  padding-top: 30px;
}

.titulo-prin {
  padding-bottom: 44px;
  padding-top: 44px;
  font-family: "Young Serif", serif;
  border: 1px solid;
  text-align: center;
  margin-bottom: 2vh;
  border-block-end-style: none;
}

.fila-title {
  text-align: center;
  font-family: "Young Serif", serif;
  font-size: 30px;
  padding-top: 14px;
  border: 1px solid;
  margin-bottom: 20px;
}
.fila-title h5 {
  font-size: 3rem;
  padding-top: 50px;
}

main {
  background-color: #232D3F;
}

body .principal {
  color: #EEEEEE;
}

article {
  text-align: center;
}

main .cards {
  padding-top: 1px;
  padding-bottom: 50px;
}

.portada-overlays img {
  opacity: 0.7;
}

.card-overlays {
  padding-bottom: 30px;
}

.middle-page {
  background-color: rgba(108, 117, 125, 0.4117647059);
  border-radius: 9px;
}

body .analisis-briar {
  padding-top: 5px;
  color: #EEEEEE;
  border: 1px solid;
}
body .row-analisis .col__imagen {
  padding-top: 25px;
  text-align: center;
  padding-bottom: 25px;
}
body .row-analisis .card-title-briar {
  font-size: 3rem;
  font-family: "Young Serif", serif;
}
body .analisis-apex .analisis-img-apex-banner img {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}
body .analisis-apex .analisis-titulo {
  color: #EEEEEE;
  font-size: 3rem;
  font-family: "Young Serif", serif;
}
body .analisis-apex .analisis-box-1 {
  color: #EEEEEE;
  padding-bottom: 5px;
  font-size: 1rem;
}
body .analisis-apex .analisis-box-2 .box2-img {
  width: 100%;
}
body .analisis-apex .analisis-box-2 .box2-p {
  color: #EEEEEE;
  padding-bottom: 5px;
  font-size: 1rem;
}
body .analisis-apex .analisis-box-3 .box3-img {
  width: 100%;
}
body .analisis-apex .analisis-box-3 .box3-p {
  color: #EEEEEE;
  padding-bottom: 5px;
  font-size: 1rem;
}

.analisis-street .analisis-img-street-banner img {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 71px;
}
.analisis-street .titulo-galeria {
  font-family: "Young Serif", serif;
  font-size: 3rem;
  color: #EEEEEE;
  padding-bottom: 15px;
}
.analisis-street .parrafo-aki {
  color: #EEEEEE;
}
.analisis-street .titulo-principal-aki {
  font-size: 3rem;
  font-family: "Young Serif", serif;
}
.analisis-street .skins-aki {
  text-align: center;
  color: #EEEEEE;
  font-family: "Young Serif", serif;
}
.analisis-street .skins-aki .titulo-video {
  color: #EEEEEE;
  font-size: 3rem;
  font-family: "Young Serif", serif;
  padding-bottom: 15px;
  border: 1px solid;
}
.analisis-street .skins-aki .titulo-aki {
  font-size: 3rem;
  border: 1px solid;
}
.analisis-street .skins-aki .titulo-skin {
  font-size: 2rem;
}
.analisis-street .skins-aki .image-zoom {
  overflow: hidden;
  position: relative;
}
.analisis-street .skins-aki .image-zoom img {
  transition: transform 0.3s;
}
.analisis-street .skins-aki .image-zoom img:hover {
  transform: scale(1.1);
}

.noticias {
  color: aliceblue;
}
.noticias .seccion-noti {
  border: 1px solid;
  border-top: none;
  border-left: none;
  border-block-end: none;
}
.noticias .seccion-noti img {
  width: 100%;
}
.noticias .seccion-noti .article {
  background-color: rgba(112, 128, 144, 0.4588235294);
  border-radius: 9px;
}
.noticias .titulo-not {
  font-family: "Young Serif", serif;
  font-size: 3rem;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border: 1px solid;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: rgba(112, 128, 144, 0.4588235294);
}
.noticias .aside {
  position: sticky;
  top: 0;
}
.noticias .aside .card-title {
  font-size: 2rem;
  font-family: "Young Serif", serif;
}
.noticias .aside .tarjetas {
  margin-bottom: 4px;
}
.noticias .aside .titulo-card {
  border: 1px solid;
  font-family: "Young Serif", serif;
  border-bottom-right-radius: 20px;
  text-align: center;
  border-right-width: thick;
  border-top-left-radius: 20px;
  background-color: rgba(112, 128, 144, 0.4588235294);
}

.card-title-over {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 3rem;
  text-align: center;
  font-family: "Young Serif", serif;
  padding-top: 60px;
  background: linear-gradient(rgba(0, 0, 0, 0.322), rgba(255, 255, 255, 0));
}

.titulo-jue h1 {
  padding-bottom: 44px;
  padding-top: 44px;
}

body .juegos {
  color: aliceblue;
}
body .articulos {
  background-color: rgba(118, 118, 118, 0.7098039216);
  border-radius: 9px;
  margin-bottom: 50px;
}
body .articulos .titulos {
  background-color: black;
  border-radius: 9px;
  margin-right: 8px;
}
body .articulos .list {
  text-align: justify;
  padding: 5px;
}
body .aside {
  margin: 0;
}
body .aside .articulo-aside {
  margin: 0;
  background-color: rgba(118, 118, 118, 0.7098039216);
  border-radius: 9px;
  position: sticky;
  top: 0;
}
body .aside .articulo-aside .titulo-aside {
  background-color: black;
  border-radius: 9px;
}

body .pagina-hard {
  color: aliceblue;
}
body .pagina-hard .titulo-principal {
  text-align: center;
  border: 1px solid white;
  font-size: 3rem;
  font-family: "Young Serif", serif;
  margin-bottom: 20px;
}
body .pagina-hard .pcs {
  border: 1px solid white;
  margin-top: 30px;
  margin-bottom: 30px;
}
body .pagina-hard .pcs .titulos-pcs {
  font-family: "Young Serif", serif;
  font-size: 3rem;
}

/**pie de pagina*/
.pie-pagina .grup-1 {
  color: #EEEEEE;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #435B66;
}
.pie-pagina .grup-2 {
  text-align: center;
}
.pie-pagina .box1 {
  margin: 20px;
  padding-top: 10px;
}
.pie-pagina .box1 img {
  border-radius: 50px;
  max-width: 200px;
}
.pie-pagina .box2 {
  text-align: center;
  color: #EEEEEE;
  padding-top: 10px;
  margin: 20px;
}
.pie-pagina .box3 {
  text-align: center;
  color: #EEEEEE;
  padding-top: 10px;
  margin: 20px;
}

.nav-footer {
  background-color: #435B66;
}

@media (min-width: 320px) and (max-width: 767px) {
  .pie-pagina .grup-2 {
    text-align: center;
  }
  .pie-pagina .grup-1 {
    text-align: center;
    flex-flow: column;
    padding-top: 5px;
  }
  .card-title-over {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    max-width: 100%;
    font-size: 1rem;
    padding-top: 0;
  }
  .fila-title h5 {
    font-size: 2rem;
    padding-top: 0px;
  }
  .fila-title p {
    font-size: 1rem;
  }
  .card-title-briar {
    font-size: 2rem !important;
    font-family: "Young Serif", serif;
  }
  .analisis-img-apex-banner img {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .analisis-titulo {
    color: #EEEEEE;
    font-size: 2rem !important;
  }
  .skins-aki {
    text-align: center;
    padding-bottom: 50px;
  }
  .skins-aki h5 {
    color: #EEEEEE;
    font-size: 1rem;
    font-family: "Young Serif", serif;
  }
  .titulo-principal-aki {
    font-size: 2rem !important;
    font-family: "Young Serif", serif;
  }
  .titulo-galeria {
    font-family: "Young Serif", serif;
    font-size: 2rem !important;
    color: #EEEEEE;
    padding-bottom: 15px;
  }
  .titulo-aki {
    font-size: 2rem !important;
    border: 1px solid;
  }
  .carousel-aki {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .titulo-video {
    color: #EEEEEE;
    font-size: 2rem !important;
    font-family: "Young Serif", serif;
    padding-bottom: 15px;
    border: 1px solid;
  }
  .analisis-img-street-banner img {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 43px;
  }
}
@media (min-width: 577px) and (max-width: 1200px) {
  .card-title-over {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    max-width: 100%;
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
