@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

iframe {
  display: block;
  margin: 1em auto;
  width: 100%;
  aspect-ratio: 16/9;
}

.featurette-divider {
  color: #000000;
}

main {
  background-attachment: fixed;
  background-color: #212529;
  color: white;
}

.noticias .card-title-over, .fila-title .box-contenido-3, .fila-title .box-contenido-2, .fila-title .box-contenido-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.principal .planf img {
  width: 100%;
  border-radius: 24px;
}
.principal .probando {
  position: relative;
}

.caja-1 {
  position: absolute;
  top: -9%;
  width: 100%;
  height: 100%;
}

.caja-1 img {
  width: 100%;
  position: absolute;
  overflow: hidden;
  max-height: 700px;
  object-fit: cover;
  filter: blur(7px);
}

.caja-1::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2%;
  width: 100%;
  height: 50%;
  background: linear-gradient(transparent, rgb(0, 9, 19) 46%);
}

.caja-2 {
  box-sizing: border-box;
  max-width: 1335px;
  margin: 0px auto;
}
.caja-2 .titulo-name {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
.caja-2 .titulo-name h1 {
  font-size: 120px;
  text-align: center;
  color: white;
  margin: 0px;
  position: relative;
  top: -105px;
  font-weight: 800;
  letter-spacing: 0.03em;
}
.caja-2 .subtitulo {
  display: flex;
  justify-content: center;
}
.caja-2 .subtitulo h2 {
  font-size: 1.5rem;
  color: white;
  position: relative;
  top: -120px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.caja-2 img {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 45px;
  padding-bottom: 5px;
  mask-image: linear-gradient(rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 98%);
}

.img-fondo img {
  width: 100%;
  position: absolute;
}

.cards {
  padding-top: 1px;
  padding-bottom: 50px;
}

.sub-titulo {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 23px;
  margin-top: 40px;
  border-bottom: none;
}

.carousel-1 {
  padding-top: 30px;
}

.titulo-prin {
  padding-bottom: 44px;
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  text-align: center;
  margin-bottom: 8px;
  border-block-end-style: none;
}

.fila-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  padding-top: 14px;
  margin-bottom: 20px;
}
.fila-title p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.fila-title h5 {
  font-size: 3rem;
}
.fila-title .box-contenido-1 h3 {
  font-size: 50px;
}
.fila-title .box-contenido-2 h3 {
  font-size: 50px;
}
.fila-title .box-contenido-3 h3 {
  font-size: 50px;
}

.article {
  text-align: center;
}

.portada-overlays img {
  opacity: 0.7;
}

.card-overlays {
  padding-bottom: 30px;
}

.middle-page {
  border-radius: 9px;
}

.header-1 {
  position: relative;
  z-index: 3;
  background-color: white;
}

.navbar {
  padding: 0px;
}

.name-logo {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 0px;
}

.navbar-collapse {
  display: flex;
  justify-content: end;
}

.image-container {
  display: inline-block;
}

.rotating-image {
  transition: transform 0.3s;
}

.image-container:hover .rotating-image {
  transform: rotate(360deg);
}

body .analisis-briar {
  padding-top: 5px;
}
body .col__imagen img {
  border-radius: 5px;
  width: 100%;
}
body .row-analisis .card-title-h1 {
  font-size: 3.75rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin: 25px;
  text-align: center;
}
body .row-analisis .pasiva-name {
  margin: 25px;
  font-size: 20px;
}
body .row-analisis .q-name {
  margin: 25px;
  font-size: 20px;
}
body .row-analisis .w-name {
  margin: 25px;
  font-size: 20px;
}
body .row-analisis .E-name {
  margin: 25px;
  font-size: 20px;
}
body .row-analisis .R-name {
  margin: 25px;
  font-size: 20px;
}

body .banner-filter {
  width: 100%;
  max-height: 390px;
  object-fit: cover;
  filter: blur(3px);
}
body .img-one::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 100%;
  height: 395px;
  background: linear-gradient(transparent, rgb(0, 9, 19) 114%);
}
body .main-games {
  margin-top: 50px;
}
body .titulo-jue h1 {
  padding-bottom: 44px;
  padding-top: 44px;
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  text-align: center;
  border: 1px solid;
  margin-bottom: 30px;
}
body .articulos .aside-infolol {
  padding: 38px;
}
body .articulos .img-aside {
  object-fit: cover;
  max-width: 360px;
  height: 536px;
  top: -200px;
  position: relative;
}
body .articulos .img-aside .image-cover {
  height: 536px;
  object-fit: cover;
  width: 100%;
  padding: 10px;
  background-color: #212529;
  border-radius: 5px;
}
body .articulos .box-info {
  border: 1px solid;
}
body .articulos .titulos {
  margin-right: 8px;
  text-align: left;
}
body .articulos .titulos h2 {
  color: white;
  position: relative;
  z-index: 3;
  top: -100px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 4rem;
  font-weight: 900;
}
body .articulos .list-aside {
  text-align: justify;
  position: relative;
  top: -170px;
}
body .articulos .list {
  text-align: justify;
  position: relative;
  top: -54px;
}

body .banner-principal-apex {
  width: 100%;
}
body .analisis-apex .analisis-titulo {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  padding-top: 65px;
}
body .analisis-apex .analisis-box-1 {
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 19px;
}
body .analisis-apex .analisis-box-2 .box2-img {
  width: 100%;
}
body .analisis-apex .analisis-box-2 .box2-p {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 19px;
}
body .analisis-apex .analisis-box-3 .box3-img {
  width: 100%;
}
body .analisis-apex .analisis-box-3 .box3-p {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 19px;
}

.analisis-street {
  margin-bottom: 20px;
}
.analisis-street .analisis-img-street-banner img {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 71px;
}
.analisis-street .titulo-galeria {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  margin-bottom: 15px;
  text-align: center;
}
.analisis-street .parrafo-aki {
  padding-top: 5px;
  padding-bottom: 65px;
  font-size: 20px;
}
.analisis-street .titulo-principal-aki {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}
.analisis-street .skins-aki {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.analisis-street .skins-aki .titulo-video {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  padding: 15px;
}
.analisis-street .skins-aki .titulo-aki {
  font-size: 4rem;
  padding: 15px;
  margin-top: 20px;
}
.analisis-street .skins-aki .titulo-skin {
  font-size: 2rem;
}
.analisis-street .skins-aki .image-zoom {
  overflow: hidden;
  position: relative;
}
.analisis-street .skins-aki .image-zoom img {
  transition: transform 0.3s;
}
.analisis-street .skins-aki .image-zoom img:hover {
  transform: scale(1.1);
}

.noticias .art-principal .img-position1 img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0px;
  overflow: hidden;
  height: 700px;
}
.noticias .art-principal .imagen-blur {
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  filter: blur(10px);
}
.noticias .art-principal .imagen-blur::after {
  content: "";
  position: absolute;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}
.noticias .prueba-vanner {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 60PX;
  max-width: 1560px;
  margin: 0px auto;
}
.noticias .titulo-van {
  flex: 1 1 auto;
  max-width: 350px;
  padding-right: 4%;
  color: azure;
}
.noticias .titulo-van h1 {
  font-size: 40px;
}
.noticias .prueba-vanner img {
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.noticias .seccion-noti {
  border-top: none;
  border-left: none;
  border-block-end: none;
}
.noticias .seccion-noti img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 9px;
}
.noticias .seccion-noti .article {
  border-radius: 9px;
  margin-bottom: 20px;
  text-align: center;
}
.noticias .seccion-noti .article h3 {
  font-size: 30px;
}
.noticias .titulo-not {
  font-family: "Brygada 1918", serif;
  font-size: 80px;
  text-align: center;
}
.noticias .aside {
  position: sticky;
  top: 5px;
}
.noticias .aside .aside-card {
  padding-bottom: 39px;
}
.noticias .aside .card-title {
  font-size: 2rem;
}
.noticias .aside .tarjetas {
  margin-bottom: 20px;
}
.noticias .aside .titulo-card {
  font-family: "Brygada 1918", serif;
  border-bottom-right-radius: 20px;
  text-align: center;
  border-right-width: thick;
  border-top-left-radius: 20px;
  font-size: 30px;
}
.noticias .card-title-over {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 3rem;
  text-align: center;
  font-family: "Brygada 1918", serif;
  padding-top: 100px;
}

.lanzamientos .title-principal-lanzamientos {
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  padding: 22px;
  text-align: center;
}

body .pagina-hard {
  color: aliceblue;
}
body .pagina-hard .titulo-principal {
  text-align: center;
  border: 1px solid white;
  font-size: 80px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
body .pagina-hard .pcs {
  border: 1px solid white;
  margin-top: 30px;
  margin-bottom: 30px;
}
body .pagina-hard .pcs .titulos-pcs {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  margin: 30px;
  text-align: center;
}
body .pagina-hard .cont-pc-basica {
  margin: 30px;
}
body .pagina-hard .cont-pc-elite {
  margin: 30px;
}
body .pagina-hard .cont-pc-xtreme {
  margin: 30px;
}

/**pie de pagina*/
.pie-pagina .grup-1 {
  color: #EEEEEE;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: black;
}
.pie-pagina .grup-2 {
  text-align: center;
}
.pie-pagina .box1 {
  margin: 20px;
  padding-top: 10px;
}
.pie-pagina .box1 img {
  border-radius: 50px;
  max-width: 200px;
}
.pie-pagina .box2 {
  text-align: center;
  color: #EEEEEE;
  padding-top: 10px;
  margin: 20px;
}
.pie-pagina .box3 {
  text-align: center;
  color: #EEEEEE;
  padding-top: 10px;
  margin: 20px;
}

.nav-footer {
  background: #292929;
  padding: 5px;
}

.nav-footer a {
  color: #EEEEEE;
}

@media (min-width: 320px) and (max-width: 767px) {
  /*home*/
  .principal .titulo-prin {
    font-size: 40px;
    padding-bottom: 5px;
  }
  .sub-titulo {
    font-size: 40px;
  }
  .principal .fila-title .box-contenido-1 h3 {
    font-size: 36px;
  }
  .principal .fila-title .box-contenido-2 h3 {
    font-size: 36px;
  }
  .principal .fila-title .box-contenido-3 h3 {
    font-size: 36px;
  }
  .boton {
    margin-bottom: 15px;
  }
  .principal .sub-titulo {
    font-size: 34px;
  }
  .principal .fila-title p {
    font-size: 15px;
  }
  .caja-2 img {
    padding: 7px;
  }
  .caja-2 .titulo-name h1 {
    font-size: 40px;
    top: -38px;
  }
  .caja-2 .subtitulo h2 {
    font-size: 1.5rem;
    top: -44px;
  }
  /*fin*/
  /*Analisis*/
  body .row-analisis .pasiva-name {
    font-size: 14px;
    margin: 10px;
  }
  body .row-analisis .q-name {
    font-size: 14px;
    margin: 10px;
  }
  body .row-analisis .w-name {
    font-size: 14px;
    margin: 10px;
  }
  body .row-analisis .E-name {
    font-size: 14px;
    margin: 10px;
  }
  body .row-analisis .R-name {
    font-size: 14px;
    margin: 10px;
  }
  .navbar .navbar-brand {
    font-size: 22px;
  }
  body .analisis-apex .analisis-img-apex-banner img {
    padding-bottom: 0px;
  }
  body .analisis-apex .analisis-titulo {
    margin-top: 40px;
  }
  body .analisis-apex .analisis-box-1 {
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  body .analisis-apex .analisis-box-2 .box2-p {
    font-size: 14px;
  }
  body .analisis-apex .analisis-box-3 .box3-p {
    font-size: 14px;
  }
  .analisis-street .parrafo-aki {
    font-size: 14px;
  }
  /*juegos*/
  body .juegos .titulo-jue h1 {
    font-size: 2rem;
  }
  body .articulos .list {
    margin: 15px;
    font-size: 14px;
  }
  /*lanzamientos*/
  .navbar-collapse {
    justify-content: center;
  }
  .lanzamientos .title-principal-lanzamientos {
    font-size: 2rem;
  }
  .card-text-l {
    font-size: 14px;
  }
  /*noticias*/
  .noticias .titulo-not {
    font-size: 60px;
    padding-bottom: 0px;
  }
  .pie-pagina .grup-2 {
    text-align: center;
  }
  .pie-pagina .grup-1 {
    text-align: center;
    flex-flow: column;
    padding-top: 5px;
  }
  .noticias .card-title-over {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    max-width: 100%;
    font-size: 1rem;
    padding-top: 0;
  }
  .card-title-briar {
    font-size: 2rem !important;
    font-family: "Roboto", sans-serif;
  }
  .analisis-img-apex-banner img {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .analisis-titulo {
    color: #EEEEEE;
    font-size: 2rem !important;
  }
  .skins-aki {
    text-align: center;
    padding-bottom: 50px;
  }
  .skins-aki h5 {
    color: #EEEEEE;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
  }
  .titulo-principal-aki {
    font-size: 2rem !important;
    font-family: "Roboto", sans-serif;
  }
  .titulo-galeria {
    font-family: "Roboto", sans-serif;
    font-size: 2rem !important;
    color: #EEEEEE;
    padding-bottom: 15px;
  }
  .titulo-aki {
    font-size: 2rem !important;
    border: 1px solid;
  }
  .carousel-aki {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .titulo-video {
    color: #EEEEEE;
    font-size: 2rem !important;
    font-family: "Roboto", sans-serif;
    padding-bottom: 15px;
    border: 1px solid;
  }
  .analisis-img-street-banner img {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 43px;
  }
  .noticias .prueba-vanner {
    flex-direction: column;
    padding: 29PX;
  }
  .noticias .titulo-van h1 {
    font-size: 26px;
  }
  .noticias .titulo-van p {
    font-size: 14px;
  }
  .noticias .art-principal .img-position1 img {
    height: 515px;
  }
}
@media (min-width: 577px) and (max-width: 1200px) {
  .caja-2 .subtitulo h2 {
    font-size: 30px;
    top: -60px;
  }
  .caja-2 .titulo-name h1 {
    font-size: 80px;
    top: -48px;
  }
  .noticias .titulo-van h1 {
    font-size: 26px;
  }
  .noticias .titulo-van p {
    font-size: 14px;
  }
  .noticias .prueba-vanner {
    flex-direction: column;
    padding: 29PX;
  }
  .navbar-collapse {
    justify-content: center;
  }
  .noticias .card-title-over {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    max-width: 100%;
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
