@media (min-width:320px) and (max-width:767px){
    .pie-pagina .grup-2{
        text-align: center;
    }
    .pie-pagina .grup-1{
        text-align: center;
        flex-flow: column;
        padding-top: 5px;
    }
}