
@media (min-width:320px) and (max-width:767px){
    .pie-pagina .grup-2{
        text-align: center;
    }
    .pie-pagina .grup-1{
        text-align: center;
        flex-flow: column;
        padding-top: 5px;
    }
    .card-title-over {
        white-space: normal;
        overflow: visible;  
        text-overflow: clip; 
        max-width: 100%; 
        font-size: 1rem;
        padding-top: 0;
    }
    .fila-title h5{
    font-size: 2rem;
    padding-top: 0px;
    }
    .fila-title p{
        font-size: 1rem;
    }
    .card-title-briar {
        font-size: 2rem!important;
        font-family: $letras-primarias;
    }
    .analisis-img-apex-banner img {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .analisis-titulo {
        color: #EEEEEE;
        font-size: 2rem!important;
    }
    .skins-aki{
        text-align: center;
        padding-bottom: 50px;
        h5{
        color: #EEEEEE;
        font-size: 1rem;
        font-family: $letras-primarias;
        }
    }
    .titulo-principal-aki {
        font-size: 2rem!important;
        font-family: $letras-primarias;
    }
    .titulo-galeria {
        font-family: $letras-primarias;
        font-size: 2rem!important;
        color: #EEEEEE;
        padding-bottom: 15px;
    }
    .titulo-aki {
        font-size: 2rem!important;
        border: 1px solid;
    }
    .carousel-aki{
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .titulo-video {
        color: #EEEEEE;
        font-size: 2rem!important;
        font-family: $letras-primarias;
        padding-bottom: 15px;
        border: 1px solid;
    } 
    .analisis-img-street-banner img {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 43px;
    }
    
}
@media (min-width: 577px) and (max-width: 1200px) {
    .card-title-over {
        white-space: normal; 
        overflow: visible;
        text-overflow: clip;
        max-width: 100%; 
        font-size: 2rem; 
    }
    
}
