@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@1,500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

iframe {
  display: block;
  margin: 1em auto;
  width: 100%;
  aspect-ratio: 16/9;
}

.featurette-divider {
  color: #000000;
}

main {
  background-attachment: fixed;
}

.noticias .card-title-over, .fila-title .box-contenido-3, .fila-title .box-contenido-2, .fila-title .box-contenido-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.principal .planf img {
  width: 100%;
  border-radius: 24px;
}
.principal .probando {
  position: relative;
  min-height: 31.25rem;
}

.caja-1 img {
  width: 100%;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

.caja-2 .titulo-name {
  display: flex;
  justify-content: center;
  font-family: "Brygada 1918", serif;
}
.caja-2 .titulo-name h1 {
  font-size: 80px;
  text-align: center;
  color: rgb(103, 71, 31);
  margin: 0px;
}
.caja-2 .subtitulo {
  display: flex;
  justify-content: center;
}
.caja-2 .subtitulo h2 {
  font-size: 20px;
}

.caja-2 img {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 45px;
  padding-bottom: 5px;
}

.img-fondo img {
  width: 100%;
  position: absolute;
}

.cards {
  padding-top: 1px;
  padding-bottom: 50px;
}

.sub-titulo {
  font-family: "Brygada 1918", serif;
  font-size: 73px;
  text-align: center;
  margin-bottom: 23px;
  margin-top: 40px;
  border-bottom: none;
}

.carousel-1 {
  padding-top: 30px;
}

.titulo-prin {
  padding-bottom: 44px;
  padding-top: 44px;
  font-family: "Brygada 1918", serif;
  font-size: 80px;
  text-align: center;
  margin-bottom: 8px;
  border-block-end-style: none;
}

.fila-title {
  text-align: center;
  font-family: "Brygada 1918", serif;
  font-size: 30px;
  padding-top: 14px;
  margin-bottom: 20px;
}
.fila-title p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.fila-title h5 {
  font-size: 3rem;
}
.fila-title .box-contenido-1 h3 {
  font-size: 50px;
}
.fila-title .box-contenido-2 h3 {
  font-size: 50px;
}
.fila-title .box-contenido-3 h3 {
  font-size: 50px;
}

article {
  text-align: center;
}

.portada-overlays img {
  opacity: 0.7;
}

.card-overlays {
  padding-bottom: 30px;
}

.middle-page {
  border-radius: 9px;
}

.navbar-brand {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.navbar-collapse {
  display: flex;
  justify-content: end;
}

.image-container {
  display: inline-block;
}

.rotating-image {
  transition: transform 0.3s;
}

.image-container:hover .rotating-image {
  transform: rotate(360deg);
}

body .analisis-briar {
  padding-top: 5px;
}
body .col__imagen img {
  border-radius: 5px;
  width: 100%;
}
body .row-analisis .card-title-h1 {
  font-size: 3.75rem;
  font-family: "Brygada 1918", serif;
  margin: 25px;
  text-align: center;
}
body .row-analisis .pasiva-name {
  margin: 25px;
  font-size: 20px;
}
body .row-analisis .q-name {
  margin: 25px;
  font-size: 20px;
}
body .row-analisis .w-name {
  margin: 25px;
  font-size: 20px;
}
body .row-analisis .E-name {
  margin: 25px;
  font-size: 20px;
}
body .row-analisis .R-name {
  margin: 25px;
  font-size: 20px;
}

body .analisis-apex .analisis-img-apex-banner img {
  width: 100%;
}
body .analisis-apex .analisis-titulo {
  font-size: 73px;
  font-family: "Brygada 1918", serif;
  padding: 5px;
  text-align: center;
  margin-top: 50px;
}
body .analisis-apex .analisis-box-1 {
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 19px;
}
body .analisis-apex .analisis-box-2 .box2-img {
  width: 100%;
}
body .analisis-apex .analisis-box-2 .box2-p {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 19px;
}
body .analisis-apex .analisis-box-3 .box3-img {
  width: 100%;
}
body .analisis-apex .analisis-box-3 .box3-p {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 19px;
}

.analisis-street {
  margin-bottom: 20px;
}
.analisis-street .analisis-img-street-banner img {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 71px;
}
.analisis-street .titulo-galeria {
  font-family: "Brygada 1918", serif;
  font-size: 4rem;
  margin-bottom: 15px;
  text-align: center;
}
.analisis-street .parrafo-aki {
  padding-top: 5px;
  padding-bottom: 65px;
  font-size: 20px;
}
.analisis-street .titulo-principal-aki {
  font-size: 73px;
  font-family: "Brygada 1918", serif;
  margin-bottom: 15px;
}
.analisis-street .skins-aki {
  text-align: center;
  font-family: "Brygada 1918", serif;
}
.analisis-street .skins-aki .titulo-video {
  font-size: 4rem;
  font-family: "Brygada 1918", serif;
  padding: 15px;
}
.analisis-street .skins-aki .titulo-aki {
  font-size: 4rem;
  padding: 15px;
  margin-top: 20px;
}
.analisis-street .skins-aki .titulo-skin {
  font-size: 2rem;
}
.analisis-street .skins-aki .image-zoom {
  overflow: hidden;
  position: relative;
}
.analisis-street .skins-aki .image-zoom img {
  transition: transform 0.3s;
}
.analisis-street .skins-aki .image-zoom img:hover {
  transform: scale(1.1);
}

.noticias .seccion-noti {
  border-top: none;
  border-left: none;
  border-block-end: none;
}
.noticias .seccion-noti img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 9px;
}
.noticias .seccion-noti .article {
  border-radius: 9px;
  margin-bottom: 20px;
  text-align: center;
}
.noticias .seccion-noti .article h3 {
  font-size: 30px;
}
.noticias .titulo-not {
  font-family: "Brygada 1918", serif;
  font-size: 80px;
  text-align: center;
}
.noticias .aside {
  position: sticky;
  top: 0;
}
.noticias .aside .aside-card {
  padding-bottom: 39px;
}
.noticias .aside .card-title {
  font-size: 2rem;
  font-family: "Brygada 1918", serif;
}
.noticias .aside .tarjetas {
  margin-bottom: 4px;
}
.noticias .aside .titulo-card {
  font-family: "Brygada 1918", serif;
  border-bottom-right-radius: 20px;
  text-align: center;
  border-right-width: thick;
  border-top-left-radius: 20px;
  font-size: 30px;
}
.noticias .card-title-over {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 3rem;
  text-align: center;
  font-family: "Brygada 1918", serif;
  padding-top: 100px;
}

body .juegos {
  color: aliceblue;
}
body .juegos .titulo-jue h1 {
  padding-bottom: 44px;
  padding-top: 44px;
  font-family: "Brygada 1918", serif;
  font-size: 5rem;
  text-align: center;
  border: 1px solid;
  margin-bottom: 30px;
}
body .articulos {
  border-radius: 9px;
  margin-bottom: 50px;
  text-align: center;
}
body .articulos .titulos {
  background-color: black;
  border-radius: 9px;
  margin-right: 8px;
}
body .articulos .titulos h2 {
  color: white;
}
body .articulos .list {
  text-align: justify;
  margin: 24px;
}
body .aside {
  margin: 0;
}
body .aside .articulo-aside {
  margin: 0;
  background-color: rgba(118, 118, 118, 0.7098039216);
  border-radius: 9px;
  position: sticky;
  top: 0;
}
body .aside .articulo-aside .menu {
  color: white;
  text-decoration: none;
}
body .aside .articulo-aside .titulo-aside {
  background-color: black;
  border-radius: 9px;
}

.lanzamientos .title-principal-lanzamientos {
  font-family: "Brygada 1918", serif;
  font-size: 6rem;
  padding: 22px;
  text-align: center;
}

body .pagina-hard {
  color: aliceblue;
}
body .pagina-hard .titulo-principal {
  text-align: center;
  border: 1px solid white;
  font-size: 80px;
  font-family: "Brygada 1918", serif;
  margin-bottom: 20px;
}
body .pagina-hard .pcs {
  border: 1px solid white;
  margin-top: 30px;
  margin-bottom: 30px;
}
body .pagina-hard .pcs .titulos-pcs {
  font-family: "Brygada 1918", serif;
  font-size: 73px;
  margin: 30px;
  text-align: center;
}
body .pagina-hard .cont-pc-basica {
  margin: 30px;
}
body .pagina-hard .cont-pc-elite {
  margin: 30px;
}
body .pagina-hard .cont-pc-xtreme {
  margin: 30px;
}

/**pie de pagina*/
.pie-pagina .grup-1 {
  color: #EEEEEE;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: black;
}
.pie-pagina .grup-2 {
  text-align: center;
}
.pie-pagina .box1 {
  margin: 20px;
  padding-top: 10px;
}
.pie-pagina .box1 img {
  border-radius: 50px;
  max-width: 200px;
}
.pie-pagina .box2 {
  text-align: center;
  color: #EEEEEE;
  padding-top: 10px;
  margin: 20px;
}
.pie-pagina .box3 {
  text-align: center;
  color: #EEEEEE;
  padding-top: 10px;
  margin: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  /*home*/
  .principal .titulo-prin {
    font-size: 40px;
  }
  .sub-titulo {
    font-size: 40px;
  }
  .principal .fila-title .box-contenido-1 h3 {
    font-size: 36px;
  }
  .principal .fila-title .box-contenido-2 h3 {
    font-size: 36px;
  }
  .principal .fila-title .box-contenido-3 h3 {
    font-size: 36px;
  }
  .boton {
    margin-bottom: 15px;
  }
  .principal .sub-titulo {
    font-size: 34px;
  }
  .principal .fila-title p {
    font-size: 15px;
  }
  /*fin*/
  /*Analisis*/
  body .row-analisis .pasiva-name {
    font-size: 14px;
    margin: 10px;
  }
  body .row-analisis .q-name {
    font-size: 14px;
    margin: 10px;
  }
  body .row-analisis .w-name {
    font-size: 14px;
    margin: 10px;
  }
  body .row-analisis .E-name {
    font-size: 14px;
    margin: 10px;
  }
  body .row-analisis .R-name {
    font-size: 14px;
    margin: 10px;
  }
  .navbar .navbar-brand {
    font-size: 22px;
  }
  body .analisis-apex .analisis-img-apex-banner img {
    padding-bottom: 0px;
  }
  body .analisis-apex .analisis-titulo {
    margin-top: 40px;
  }
  body .analisis-apex .analisis-box-1 {
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  body .analisis-apex .analisis-box-2 .box2-p {
    font-size: 14px;
  }
  body .analisis-apex .analisis-box-3 .box3-p {
    font-size: 14px;
  }
  .analisis-street .parrafo-aki {
    font-size: 14px;
  }
  /*hardware*/
  body .pagina-hard .titulo-principal {
    font-size: 3rem;
  }
  body .pagina-hard .pcs .titulos-pcs {
    font-size: 2rem;
  }
  body .pagina-hard .cont-pc-basica {
    margin: 5px;
  }
  body .pagina-hard .cont-pc-elite {
    margin: 5px;
  }
  body .pagina-hard .cont-pc-xtreme {
    margin: 5px;
  }
  /*juegos*/
  body .juegos .titulo-jue h1 {
    font-size: 2rem;
  }
  body .articulos .list {
    margin: 15px;
    font-size: 14px;
  }
  /*lanzamientos*/
  .lanzamientos .title-principal-lanzamientos {
    font-size: 2rem;
  }
  .card-text-l {
    font-size: 14px;
  }
  /*noticias*/
  .noticias .titulo-not {
    font-size: 60px;
    padding-bottom: 0px;
  }
  .pie-pagina .grup-2 {
    text-align: center;
  }
  .pie-pagina .grup-1 {
    text-align: center;
    flex-flow: column;
    padding-top: 5px;
  }
  .noticias .card-title-over {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    max-width: 100%;
    font-size: 1rem;
    padding-top: 0;
  }
  .card-title-briar {
    font-size: 2rem !important;
    font-family: "Brygada 1918", serif;
  }
  .analisis-img-apex-banner img {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .analisis-titulo {
    color: #EEEEEE;
    font-size: 2rem !important;
  }
  .skins-aki {
    text-align: center;
    padding-bottom: 50px;
  }
  .skins-aki h5 {
    color: #EEEEEE;
    font-size: 1rem;
    font-family: "Brygada 1918", serif;
  }
  .titulo-principal-aki {
    font-size: 2rem !important;
    font-family: "Brygada 1918", serif;
  }
  .titulo-galeria {
    font-family: "Brygada 1918", serif;
    font-size: 2rem !important;
    color: #EEEEEE;
    padding-bottom: 15px;
  }
  .titulo-aki {
    font-size: 2rem !important;
    border: 1px solid;
  }
  .carousel-aki {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .titulo-video {
    color: #EEEEEE;
    font-size: 2rem !important;
    font-family: "Brygada 1918", serif;
    padding-bottom: 15px;
    border: 1px solid;
  }
  .analisis-img-street-banner img {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 43px;
  }
}
@media (min-width: 577px) and (max-width: 1200px) {
  .noticias .card-title-over {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    max-width: 100%;
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
