
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box ;
}

/**Header**/
header .menu{
    display: flex;
    justify-content: center;
}

/**fin**/

/**cuerpo**/
.fila-title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.fila-title h5{
    font-size: 50px;
    padding-top: 50px;
}
main{
    background-color: #000;
}
body .principal{
    color: #EEEEEE;
}
.ultra{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    text-align: center;
    margin: 30px;
}
article {
    text-align: center;
}
main .cards{
    padding-top: 1px;
    padding-bottom: 50px;
}
.featurette-divider{
    margin: 30px;
}
.portada-overlays img{
    opacity:0.7;
}
.card-overlays{
    padding-bottom: 30px;
}

/**pagina de Analisis**/
.analisis{
    padding-top: 5px;
    color: #EEEEEE;
}
.row-principal{
    align-items: center;
}
main .col__imagen{
    padding-top: 25px;
    text-align: center;
    padding-bottom: 25px;
}
.analisis .row{
    align-items: center;
}
.analisis-img img{
    width: 100%;
    padding-bottom: 50px;
}
.analisis-img p{
    color: #EEEEEE;
    padding-bottom: 5px;
    font-size: 18px;
}
.analisis-titulo h4{
    color: #EEEEEE;
    font-size: 30px;
    padding-top: 10px;
}
.analisis-par{
    color: #EEEEEE;
    padding-bottom: 25px;
    font-size: 18px;
}
.skins-aki{
    text-align: center;
    padding-top: 100px;
}
.skins-aki h5{
    color: #EEEEEE;
    font-size: 30px;
}
.carousel-aki{
    padding-bottom: 100px;
    padding-top: 100px;
}

/**pagina de Hardware**/
body .pagina-hard{
    color: aliceblue;
}

/**pagina de noticias**/
body .noticias{
    color: aliceblue
}
main .portada img{
    height: 450px;
}
main .fila-noticias{
    display: flex;
    align-items: center;
}
/**pagina Lanzamientos**/

/**pagina juegos**/
body .juegos {
    color: aliceblue;
}
.rtx{
    display: flex;
}
/**pie de pagina**/
.pie-pagina .grup-1{
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #000;
}
.pie-pagina .grup-2{
    text-align: center;
}
.pie-pagina .box1{
    margin: 20px;
    padding-top: 10px;
}
.pie-pagina .box2{
    text-align: center;
    color: #EEEEEE;
    padding-top: 10px;
}
.pie-pagina .box3{
    text-align: center;
    color: #EEEEEE;
    padding-top: 10px;
}
.pie-pagina .box1 img{
    border-radius: 50px;
    max-width: 200px;
}
.pie-pagina .box2{
    margin: 20px;
}
.pie-pagina .box3{
    margin: 20px;
}

/**fin**/

/**desktop**/
@media (min-width:992){
}
/**tablet**/
@media (max-width:768px){
    /**.pie-pagina .grup-1{
        padding-top: 5px;
        text-align: center;
        flex-flow: column;
        flex-direction: column;
        padding-top: 5px;
    }**/
}
/**movil**/
@media (min-width:320px) and (max-width:767px){
    .pie-pagina .grup-2{
        text-align: center;
    }
    .pie-pagina .grup-1{
        text-align: center;
        flex-flow: column;
        padding-top: 5px;
    }
}
