.articulo img{
    width: 100%;
}
.container-list{
    list-style: none;
    padding-left: 0px;
    gap: 2px;
}
.related-item{
    margin-bottom: 24px;
}
.related-item a{
    display: flex;

}
.related-item img{
    margin-right: 5px;
}
.text-paragraph h3{
    font-size: 1rem;
}
/* .aside-section{
    padding: 0px;
} */

//seccion aside Home

.section-aside{
    display: grid;
    grid-template-columns: repeat(2, minmax(176px, 1fr));
    grid-gap: 32px;
    margin-bottom: 32px;
}
.article-aside img{
    width: 100%;
}