body .pagina-hard{
    color: aliceblue;
    .titulo-principal{
        text-align: center;
        border: 1px solid white;
        font-size: 5rem;
        font-family: $letras-primarias;
        margin-bottom: 20px;
    }
    .pcs{
        border: 1px solid white;
        margin-top: 30px;
        margin-bottom: 30px;
        .titulos-pcs{
            font-family: $letras-primarias;
            font-size: 3rem;
            margin: 30px;
        }
    }
    .cont-pc-basica{
        margin: 30px;
    }
    .cont-pc-elite{
        margin: 30px;
    }
    .cont-pc-xtreme{
        margin: 30px;
    }
}
