.header-1{
    position: relative;
    z-index: 3;
    background-color: white;
}
.navbar{
    padding: 0px;
}
.name-logo{
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
}
.navbar-collapse{
    display: flex;
    justify-content: end;
}
.image-container {
    display: inline-block;
}
.rotating-image {
    transition: transform 0.3s; 
}
.image-container:hover .rotating-image {
transform: rotate(360deg); 
}