/**Header**/
.navbar-collapse{
    display: flex;
    justify-content: end;
}
.image-container {
    display: inline-block;
}
.rotating-image {
    transition: transform 0.3s; /* Agregamos una transición para suavizar el giro */
}
.image-container:hover .rotating-image {
    transform: rotate(360deg); /* Giramos la imagen 360 grados al pasar el mouse */
}
.nav-item a {
    color: #ffffff; 
    transition: color 0.3s, transform 0.2s;
    &:hover {
    color: #000000; 
    transform: scale(1.1);
    }
}
.carousel-1{
    padding-top: 30px;
}
.titulo-prin{
    padding-bottom: 44px;
    padding-top: 44px;
    font-family: $letras-primarias;
    padding-left: 40px;
}
.fila-title{
    text-align: center;
    font-family: $letras-primarias;
    font-size: 30px;
    h5{
    font-size: 3rem;
    padding-top: 50px;
    }
}
main{
    background-color: #232D3F;
}
body .principal{
    color: #EEEEEE;
}
article {
    text-align: center;
}
main .cards{
    padding-top: 1px;
    padding-bottom: 50px;
}
.featurette-divider{
    margin: 20px;
}
.portada-overlays img{
    opacity:0.7;
}
.card-overlays{
    padding-bottom: 30px;
}
.middle-page{
    background-color: #6c757d69;
    border-radius: 9px;
}