body {
    .main-games {
        margin-top: 50px;
    }
    .titulo-jue h1 {
        padding-bottom: 44px;
        padding-top: 44px;
        font-family: $letras-primarias;
        font-size: 5rem;
        text-align: center;
        border: 1px solid;
        margin-bottom: 30px;
    }
    .articulos {
        border-radius: 9px;
        margin-bottom: 50px;
        text-align: center;
        .box-info {
            border: 1px solid;
        }
        .titulos {
            border-radius: 9px;
            margin-right: 8px;
            h2 {
                color: black;
                position: relative;
                z-index: 3;
                top: -22px;
                background-color: white;
                display: inline;
                padding: 5px;
                font-family: $letras-primarias;
                font-style: $style-font;
            }
        }
        .list {
            text-align: justify;
            margin: 24px;
        }
    }
}