.lanzamientos{
    .title-principal-lanzamientos{
        font-family: $letras-primarias;
        font-size: 6rem;
        padding: 22px;
        color: aliceblue;
        text-align: center;
        border: 1px solid;
    }
}
