.noticias{
    .art-principal {
        .img-position1 img{
            position: absolute;
            width: 100%;
            object-fit: cover;
            position: absolute;
            inset: 0px;
            overflow: hidden;            
            height: 700px;
        }
        .imagen-blur{
            width: calc(100% + 40px);
            height: calc(100% + 40px);
            filter: blur(10px);

        }
        .imagen-blur::after{
            content: "";
            position: absolute;
            inset: 0px;
            background-color: rgba(0, 0, 0, 0.7);
            pointer-events: none;
        } 
    }
    //prueba----------------
    .prueba-vanner {
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 60PX;
        max-width: 1560px;
        margin: 0px auto;
    }
    .titulo-van {
        flex: 1 1 auto;
        max-width: 350px;
        padding-right: 4%;
        color: azure;
    }
    .titulo-van h1 {
        font-size: 40px;
    }
    .prueba-vanner img {
        overflow: hidden;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    //termina prueba--------------
    .seccion-noti{
        border-top: none;
        border-left: none;
        border-block-end: none;
        img{
            width: 100%;
            margin-bottom: 20px;
            border-radius: 9px;
        }
        .article{
            border-radius: 9px;
            margin-bottom: 20px;
            text-align: center;
            h3{
                font-size: map-get($tamanios, h3);
            }
        }
    }
    .titulo-not{
        font-family: 'Brygada 1918', serif;
        font-size: map-get($tamanios, h1);
        text-align: center;
    }
    .aside{
        .aside-card{
            padding-bottom: 39px;
        }
        .card-title{
            font-size: 2rem;
        }
        position: sticky;
        top: 5px;
        .tarjetas{
            margin-bottom: 20px;
        }
        .titulo-card{
            font-family: 'Brygada 1918', serif;
            border-bottom-right-radius: 20px;
            text-align: center;
            border-right-width: thick;
            border-top-left-radius: 20px;
            font-size: map-get($tamanios, h3 );
        }
    }
    .card-title-over {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        font-size: 3rem;
        text-align: center;
        font-family: 'Brygada 1918', serif;
        padding-top: 100px;
        @extend %flex;
    }
}
