.titulo-not{
    font-family: $letras-primarias;
    font-size: 3rem;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
body .noticias{
    color: aliceblue
}
.noti-img img{
    width: 100%;
}
.card-noti{
    padding-top: 24px;
}
.aside{
    position: sticky;
    top: 0;
    .tarjetas{
        margin-bottom: 4px;
    }
}
.article{
    background-color: #80808087;
    border-radius: 9px;
}
.card-title{
    font-size: 2rem;
    font-family: $letras-primarias;
}
.card-title-over {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 3rem;
    text-align: center;
    padding-top: 15px;
    font-family: "Young Serif", serif;
    padding-top: 60px;
    background: linear-gradient(rgba(0, 0, 0, 0.322),rgba(255, 255, 255, 0));
}
