
@media screen and (max-width: 767px){
    .navbar-collapse{
        justify-content: center;
    }
    /*home*/
    .principal .titulo-prin{
        font-size: 40px;
        padding-bottom: 5px;
    }
    .sub-titulo{
        font-size: 40px;
    }
    .principal .fila-title .box-contenido-1 h3 {
        font-size: 36px;
    }
    .principal .fila-title .box-contenido-2 h3{
        font-size: 36px;
    }
    .principal .fila-title .box-contenido-3 h3{
        font-size: 36px;
    }
    .boton{
        margin-bottom:15px ;
    }
    .principal .sub-titulo{
        font-size: 34px;
    }
    .principal .fila-title p{
        font-size: 15px;
    }
    .caja-2 img {
        padding: 7px;
    }
    .caja-2 .titulo-name h1{
        font-size: 50px;
        top: -38px;
    }
    .caja-2 .subtitulo h2{
        font-size: 10px;
        top: -44px;
    }
    /*fin*/
    /*Analisis*/
    body .row-analisis .pasiva-name{
        font-size: 14px;
        margin: 10px;
    }
    body .row-analisis .q-name{
        font-size: 14px;
        margin: 10px;
    }
    body .row-analisis .w-name{
        font-size: 14px;
        margin: 10px;
    }
    body .row-analisis .E-name{
        font-size: 14px;
        margin: 10px;
    }
    body .row-analisis .R-name{
        font-size: 14px;
        margin: 10px;
    }
    .navbar .navbar-brand{
        font-size: 22px;
    }
    body .analisis-apex .analisis-img-apex-banner img {
        padding-bottom: 0px;
    }
    body .analisis-apex .analisis-titulo{
        margin-top: 40px;
    }
    body .analisis-apex .analisis-box-1{
        font-size: 14px;
        padding-top: 0px; 
        padding-bottom: 0px;
    }
    body .analisis-apex .analisis-box-2 .box2-p{
        font-size: 14px;
    }
    body .analisis-apex .analisis-box-3 .box3-p{
        font-size: 14px;
    }
    .analisis-street .parrafo-aki{
        font-size: 14px;
    }
    /*juegos*/
    body .articulos .img-aside .image-cover{
        height: 427px;
    }
    body .banner-filter{
        height: 211px;
    }
    body .img-one::after{
        height: 214px;
    }
    body .articulos .list-aside{
        top: -302px;
    }
    body .articulos .titulos h2{
        top: -335px;
        font-size: 3rem;
        text-align: center;
    }
    body .articulos .list{
        top: -280px;
    }
    body .juegos .titulo-jue h1{
        font-size: 2rem;
    }
    body .articulos .list{
        margin: 15px;
        font-size: 15px;
    }
    body .articulos .list .element-list{
        padding-bottom: 14px;
    }
    /*noticias*/
    .noticias .titulo-not{
        font-size: 60px;
        padding-bottom: 0px;
    }
    .pie-pagina .grup-2{
        text-align: center;
    }
    .pie-pagina .grup-1{
        text-align: center;
        flex-flow: column;
        padding-top: 5px;
    }
    .noticias .card-title-over  {
        white-space: normal;
        overflow: visible;  
        text-overflow: clip; 
        max-width: 100%; 
        font-size: 1rem;
        padding-top: 0;
    }
    
    .card-title-briar {
        font-size: 2rem!important;
        font-family: $letras-primarias;
    }
    .analisis-img-apex-banner img {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .analisis-titulo {
        color: #EEEEEE;
        font-size: 2rem!important;
    }
    .skins-aki{
        text-align: center;
        padding-bottom: 50px;
        h5{
        color: #EEEEEE;
        font-size: 1rem;
        font-family: $letras-primarias;
        }
    }
    .titulo-principal-aki {
        font-size: 2rem!important;
        font-family: $letras-primarias;
    }
    .titulo-galeria {
        font-family: $letras-primarias;
        font-size: 2rem!important;
        color: #EEEEEE;
        padding-bottom: 15px;
    }
    .titulo-aki {
        font-size: 2rem!important;
        border: 1px solid;
    }
    .carousel-aki{
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .titulo-video {
        color: #EEEEEE;
        font-size: 2rem!important;
        font-family: $letras-primarias;
        padding-bottom: 15px;
        border: 1px solid;
    } 
    .analisis-img-street-banner img {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 43px;
    }
    .noticias .prueba-vanner{
        flex-direction: column;
        padding: 29PX;
    }
    .noticias .titulo-van h1{
        font-size: 26px;
    }
    .noticias .titulo-van p {
        font-size: 14px;
    }
    .noticias .art-principal .img-position1 img {
        height: 515px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .text-paragraph h3 {
        font-size: 8px;
    }
    body .articulos .titulos h2{
        font-size: 3rem;
        top: -73px;
    }
    .card-text:last-child{
        padding: 10px;
    }
    body .articulos .list-aside{
        top: -353px;
    }
    body .articulos .aside-info {
        padding: 10px;
    }
    body .articulos .img-aside .image-cover{
        height: 350px;
    }
    .caja-2 .subtitulo h2{
        font-size: 30px;
        top: -60px;
    }
    .caja-2 .titulo-name h1{
        font-size: 80px;
        top: -48px;
    }
    .noticias .titulo-van h1{
        font-size: 26px;
    }
    .noticias .titulo-van p {
        font-size: 14px;
    }
    .noticias .prueba-vanner{
        flex-direction: column;
        padding: 29PX;
    }
    .noticias .card-title-over {
        white-space: normal; 
        overflow: visible;
        text-overflow: clip;
        max-width: 100%; 
        font-size: 2rem; 
    }
    
}
@media screen and (min-width: 1024px) {
    .text-paragraph h3{
        font-size: 13px;
    }
}
