*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box ;
}
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
iframe{
    display: block;
    margin:1em auto;
    width: 100%;
    aspect-ratio: 16 / 9;
}